{%- comment -%}
  Collections Sidebar with Filters
  Displays filtering options for collections
{%- endcomment -%}

<div class="collections-sidebar">
  <div class="collections-sidebar__header">
    <h3 class="collections-sidebar__title">{{ 'collections.filters.title' | t }}</h3>
  </div>
  
  <div class="collections-sidebar__content">
    {%- if collection.filters.size > 0 -%}
      {%- for filter in collection.filters -%}
        <div class="filter-group">
          <h4 class="filter-group__title">{{ filter.label }}</h4>
          
          {%- case filter.type -%}
            {%- when 'list' -%}
              <ul class="filter-group__list">
                {%- for value in filter.values -%}
                  <li class="filter-group__item">
                    <label class="filter-group__label">
                      <input type="checkbox" 
                             name="{{ filter.param_name }}" 
                             value="{{ value.value }}"
                             {% if value.active %}checked{% endif %}>
                      {{ value.label }} ({{ value.count }})
                    </label>
                  </li>
                {%- endfor -%}
              </ul>
              
            {%- when 'price_range' -%}
              <div class="filter-group__price-range">
                <input type="range" 
                       name="{{ filter.param_name }}" 
                       min="{{ filter.range_min }}" 
                       max="{{ filter.range_max }}"
                       step="1">
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>